.body-active{
  background-image: url(../images/caption.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.body-active h1{
  display: block;
  font-size: 70px;
  color: white;
  text-align: center;
}

h1{
  display: none;
}


.body-passive{
  background-image: url(../images/money.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.body-passive p{
  display: block;
  font-size: 70px;
  font-weight: 700;
  color: black;
  text-align: center;
  margin-top: 300px;
}

p{
  display: none;
}